{% extends "layout.html" %} {% load static %}
{% block page_title %}
Potrzebne karmy - Stowarzyszenie Łapa
{% endblock page_title %}
{% block opengraph %}
<meta property="og:title" content="Karma dla Łapy" />
<meta property="og:description" content="Lista karm potrzebnych nam do prowadzenia działalności" />
<meta property="og:image" content="https://www.lapa.nysa.pl{% static 'public/logo.svg' %}" />
<meta property="og:image:secure_url" content="https://www.lapa.nysa.pl{% static 'public/logo.svg' %}" />
<meta property="og:url" content="https://www.lapa.nysa.pl/potrzeby/karma" />
<meta property="og:site_name" content="Stowarzyszenie Łapa" />
<meta property="og:image:type" content="image/svg" />
<meta
  property="og:image:alt"
  content="lapa logo: dog shaking hand with human"
/>
{% endblock opengraph %}
{% block content %}
<h2>Karma dla zwierząt</h2>
<p>
  Aby uniknąć problemów zdrowotnych u naszych podopiecznych, staramy się używać karmy wyższej jakości.
  Dziękujemy za nawet najmniejszą paczkę mięsnej karmy! Poniżej znajduje się lista sprawdzonych karm,
  które zapobiegają problemom żołądkowym naszych podopiecznych.
</p>
<h2>Dla psiaków</h2>
<ul>
  <li>
    <a
      href="https://www.zooplus.pl/shop/psy/karma_dla_psa_mokra/dolina_noteci/adult/976866"
      >Dolina Noteci 
    </a>
  </li>
  <li>
    <a
      href="https://www.zooplus.pl/shop/psy/karma_dla_psa_sucha/bosch/1231319"
      >Bosch 
    </a>
  </li>
  <li>
    <a
      href="https://www.zooplus.pl/shop/psy/karma_dla_psa_mokra/rocco/classic/46004"
      >Royal Canin  
    </a>
  </li>
  <li>
    <a
      href="https://www.zooplus.pl/shop/psy/karma_dla_psa_mokra/animonda/pakiety_probne/1031511"
      >Flora 
    </a>
  </li>
</ul>
<h2>Dla psiaków po przejściach</h2>
<ul>
  <li>
    <a
      href="https://www.zooplus.pl/shop/psy/karma_dla_psa_mokra/royalcanin_veterinary_diet/recovery/701579"
      >Royal Canin Recovery 
    </a>
  </li>
  <li>
    <a
      href="https://www.zooplus.pl/shop/psy/karma_dla_psa_sucha/royal_canin_veterinary_diet/hypoallergenic/306872"
      >Royal Canin Hypoallergenic 
    </a>
  </li>
  <li>
    <a
      href="https://www.dolina-noteci.pl/product-pol-1230-Mokra-karma-dla-psow-rekonwalescentow-Dolina-Noteci-Premium-Perfect-Care-Recovery-zestaw-12-x-185-g.html"
      >Dolina Noteci Recovery
    </a>
  </li>
</ul>
<h2>Dla kotów</h2>
<ul>
  <li>
    <a
      href="https://www.zooplus.pl/shop/koty/bezzbozowe/mokra/337211"
      >Smilla
    </a>
  </li>
  <li>
    <a
      href="https://www.zooplus.pl/shop/koty/bezzbozowe/mokra/374429"
      >Feringa
    </a>
  </li>
  <li>
    <a
      href="https://www.zooplus.pl/shop/koty/karma_dla_kota_mokra/purizon/adult/1224918"
      >Purizon
    </a>
  </li>
  <li>
    <a
      href="https://www.zooplus.pl/shop/koty/karma_dla_kota_mokra/dolina_noteci/adult/976658"
      >Dolina Noteci 
    </a>
  </li>
</ul>
<h2>Dla kotów po przejściach</h2>
<ul>
  <li>
    <a
      href="https://www.zooplus.pl/shop/koty/karmy_specjalistyczne/uklad_moczowy_i_nerki/schorzenia_nerek/473362"
      >Royal Canin Veterinary 
    </a>
  </li>
  <li>
    <a
      href="https://www.zooplus.pl/shop/koty/karmy_specjalistyczne/uklad_moczowy_i_nerki/schorzenia_nerek/1298830"
      >Smilla Veterinary 

    </a>
  </li>
  <li>
    <a
      href="https://vetexpert.eu/sklep/hypoallergenic-cat-mokra-karma-weterynaryjna-dla-kotow-pakiet-6x100g.html"
      >VetExpert Hypoallergenic 
    </a>
  </li>
  <li>
    <a
      href="https://vetexpert.eu/sklep/intestinal-cat-mokra-karma-weterynaryjna-dla-kotow-pakiet-6x100g.html"
      >VetExpert Intenstinal 
    </a>
  </li>
</ul>
<p class="font-medium">
  Adres do dostawy: Stowarzyszenie Łapa, ul.Grodkowska 61, 48-300 Nysa
</p>

Potrzebujemy też
<a href="/potrzeby/leki">leków</a>,
<a href="/potrzeby/srodki-czystosci">środków czystości</a>
{% endblock %} 
{% block patronite_title %} Nie wiesz jaką karmę kupić? 
{% endblock patronite_title %}
 {% block patronite_content %} 
 Nic nie szkodzi! Zachęcamy do wspierania nas na patronite. Dzięki temu możemy na bierząco 
 monitorować i uzupełniać stany magazynowe najpotrzebniejszych rodzajów.
{% endblock patronite_content %}
